body
{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
#original-navbar,#new-navbar
{
    padding:16px;
    background-color:rgb(78, 73, 73);
}
a
{
    color:white;
    padding:16px;
    text-decoration: none;
}
a:hover
{
    background-color: white;
    color:coral;
    padding:12px;
}
.login-form
{
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
    background: #e4b4b4e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
}
span
{
    color:red;
}
.btn {
    padding: 10px;
    background-color: #5cb85c;
    color:purple;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
    color:white;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}
.fa-user{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;

}
.fa-lock{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}
.input-feild{
    width: 400%;
    padding: 10px;
    outline: none;
}
.create-account
{
    text-align:center;
}
.login-page
{
    background: url('login-background.jpeg');
    background-size:cover;
}
#toggle-password
{
    margin-left:400px;
    margin-bottom:5px;
    width:80px;
    font-size:0.7rem;
    font-weight: bold;
}