.container
{
    inset: 0;
    margin:100px auto;
    border:2px solid;
    width:300px;
    height:500px;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin-top:50px;
}
#student-form,#find
{
    padding:5px;
    margin-left:50px;
}
input
{
    padding:5px;
    margin:2px;
}

#find:hover
{
    background-color:rgb(134, 226, 139);
    color:rgb(51, 70, 238);
}
h1,h2
{
    text-align:center;
}
#total,#average,#percentage
{
    margin-left:50px;
    margin-top:100px;
}